Repository boostcampaitech3/final-project-level3-recsys-03, pull requests merged in 2022-06, with the labels that each got.

#31 [Data] Refactoring data_crawling.py
  Data/data_crawling.ipynb
  Data/data_crawling.py
  Data/data_load.py
Labels: ✨Feature, ♻Refactoring

#27 refactor: 크롤링 데이터 추가에 따른 카테고리 수정
  Model/config.py
Labels: ♻Refactoring, 📦Model

#28 [Frontend] 추가 이미지 링크 기능, 제품명과 가격 링크 기능
  Backend/inference_backend.py
  Backend/main.py
  Frontend/demo.py
Labels: 🚀Enhancement, ♻Refactoring, 📦Frontend

#30 수정 Frontend UI
  Frontend/demo.py
Labels: ♻Refactoring, 📦Frontend

#32 [Frontend] UI 개선
  Frontend/demo.py
Labels: ♻Refactoring, 📦Frontend

#33 Docs : 작성 Contributing.md
  CONTRIBUTING.md
Labels: 📝Doc

#38 Develop to Main
  README.md
Labels: 🐛Bug, 📝Doc
